body {
    margin: auto;
    background-color: #28334AFF;
}
.title {
    font-size: larger;
    font-family: fantasy;
    font-variant: small-caps;
    margin: 10px;
    background-color: #28334AFF;
    color: aliceblue;
    text-shadow: #C0C0C0;
}
.wrapper {
    display: grid;
    font-family: fantasy;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}
.studentinfo {
    border: outset;
    font-family: fantasy;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    width:210px;
    color: aliceblue;
}
.question1 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question2 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question3 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question4 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question5 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question6 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question7 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.question8 {
    background-color: rgb(255, 239, 185);
    border: outset;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.submissionarea {
    font-family: fantasy;
    font-size: 20px;
    margin: 5px;
    color: aliceblue;
}
.submit {
    font-family: fantasy;
}
