* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.content {
    width: 100%;
    height: 100%;
    background-color: #E7F7E7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}
.heading{
    position: absolute;
    top:10px;
    left:20px;
    font-size: 35px;
    font-variant: small-caps;
    text-shadow: 2px 2px #332424;
    font-weight: bold;
    font-family: fantasy;
    color: #A52A2A;
}
.box {
    width: 60%;
    height: 96%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 920px;
}
.dropdown {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 75px;
}
.dropbtn {
    background-color: #ffd6af;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: fantasy;
    font-variant: small-caps;
    height: 50px;
    text-align: center;
    border: 3px solid #A52A2A;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 370px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #FCC28D;}
.gameRules{
    position: absolute;
    left: 20px;
    top: 70px;
    width: 370px;
}
p3{
    font-size: 17.5px;
    font-weight: bolder;
    font-variant: small-caps;
    font-family: fantasy;
    text-decoration: underline;
}
p{
    font-family: fantasy;
    font-size: 12px;
}
ol{
    font-family: fantasy;
    font-size: 12px;
}
.exampleGamePlay{
    width: 87.2px;
    height: 178.5px;
}
span{
    background-color: #409EFF;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}
.redDot{
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    border: 1px black solid;
}
.whiteDot{
    background-color: rgb(255, 255, 255);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    border: 1px black solid;
}
.game-box {
    width: 360px;
    height: 90%;
    background-color: #AD7363;
    margin: 0 auto;
    border: 5px solid #A52A2A;
    box-sizing: border-box;
}
.game-box .game-top{
    height: 46px;
    width: 100%;
    background-color: #CD7363;
    border-bottom: 5px solid #A52A2A;
}
.btn {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:10px;
    background-color: #409EFF;
    border: none;
    padding: 6px;
    border-radius: 3px;
    color: #fff;
}
.game-top .answer{
    height: 100%;
    width: 65%;
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    background-color: #AD7363;
}
.answer li{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #FCC28D;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.game-main{
    height: 74%;
    width: 100%;
}
.game-main .term{
    width: 100%; 
    display: flex;
    align-items: center;
    align-content: stretch;
}

.term .termLeft{
    width: 65%;
    height: 46px;
    background-color: #A26250;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid #AD7363;
}
.termLeft li{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #422821;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.term .termRight{
    width: 35%;
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #AD7363;
}
.termRight .tips{
    width: 46px;
    width: 46px;
    background-color: #A26250;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tips li{
    height: 10px;
    width: 10px;
    background-color: #422821;
    border-radius: 50%;
    margin:2px;
}
.termRight .termBtn{
    height: 25px;
    line-height: 25px;
    width: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-left:5px;
    cursor: pointer;
}
.colorBall-box{
    height: 80px;
    width: 65%;
    margin-top:15px;
    background-color: rgba(0, 0, 0, 0.1);
}
.colorBall-box .ball {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.colorBall-box .ball li{
    width: 34px;
    height: 34px;
    margin:0 10px;
    background-color: #fff;
    border-radius: 50%;
} 
.colorBall-box .ball  .red{
    background-color: red;
    border-bottom: 3px solid rgb(185, 1, 1);
}
.colorBall-box .ball  .green{
    background-color: green;
    border-bottom: 3px solid rgb(0, 73, 0);
}
.colorBall-box .ball  .blue{
    background-color: blue;
    border-bottom: 3px solid rgb(0, 0, 122);
}
.colorBall-box .ball  .yellow{
    background-color: yellow;
    border-bottom: 3px solid rgb(151, 151, 2);
}
.colorBall-box .ball  .skyblue{
    background-color: skyblue;
    border-bottom: 3px solid rgb(79, 125, 143);
}
.colorBall-box .ball  .orange{
    background-color: orange;
    border-bottom: 3px solid rgb(172, 112, 1);
}
.colorBall-box .ball  .black{
    background-color: rgb(46, 46, 46);
    border-bottom: 3px solid rgb(0, 0, 0);
}
.colorBall-box .ball  .white{
    background-color: white;
    border-bottom: 3px solid rgb(158, 158, 158);
}